//montserrat
@font-face {
  font-family: Montserrat;
  src: url(./../public/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat_Bold;
  src: url(./../public/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat_Medium;
  src: url(./../public/fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat_Light;
  src: url(./../public/fonts/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat_SemiBold;
  src: url(./../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat_ExtraBold;
  src: url(./../public/fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

// karla
@font-face {
  font-family: Karla;
  src: url(./../public/fonts/Karla/static/Karla-Regular.ttf);
}

@font-face {
  font-family: Karla_Bold;
  src: url(./../public/fonts/Karla/static/Karla-Bold.ttf);
}

@font-face {
  font-family: Karla_ExtraBold;
  src: url(./../public/fonts/Karla/static/Karla-ExtraBold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./../public/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter_Bold;
  src: url(./../public/fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter_ExtraBold;
  src: url(./../public/fonts/Inter/static/Inter-ExtraBold.ttf);
}
